# Local paths (Windows)
TMP_PATH=
TEST_DATA_DIR=
NOISE_DIR=
VOICE_DIR=
MIXED_DIR=
RTC_DIR=
WORKPLACE=

# Remote paths (Linux)
WEBRTC_PATH=
PLAY_PATH=
BIN_PATH=

# Remote paths (Android)
ANDROID_LIB_PATH=/oem/lib
ANDROID_BIN_PATH=/data/bin
PCM_DIR=/data/pcm

# Hosts
ANDROID_HOST=
LINUX_HOST=
LINUX_USER=

# Serial
SERIAL_PORT=
SERIAL_BAUDRATE=115200
